In [197]:
import s3fs
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import geopandas as gp

In [198]:
# csv file
data_dma = pd.read_csv('s3://aki-dmp/rnd/data-science/vcr2/dma_vcr_bayes.csv')

In [199]:
data_dma

     dma       vcr
0      0  1.613161
1    500  1.921218
2    501  2.259815
3    503  1.663627
4    504  2.231649
..   ...       ...
119  770  1.925261
120  771  1.741088
121  790  1.896585
122  862  1.952375
123  866  1.846389

[124 rows x 2 columns]

In [200]:
data_dma.isnull().sum()

dma    0
vcr    0
dtype: int64

In [201]:
data_dma.dtypes

dma      int64
vcr    float64
dtype: object

In [202]:
data_dma.head()

   dma       vcr
0    0  1.613161
1  500  1.921218
2  501  2.259815
3  503  1.663627
4  504  2.231649

In [203]:
values = data_dma.vcr.unique()

In [204]:
values.sort()

In [205]:
values

array([1.43086008, 1.49938311, 1.50312056, 1.51406026, 1.52013466,
       1.55235868, 1.55327986, 1.58410589, 1.59687917, 1.61316095,
       1.61351964, 1.62386579, 1.64188258, 1.64839777, 1.66362738,
       1.700218  , 1.71317073, 1.7410883 , 1.74157571, 1.74814887,
       1.74912103, 1.75463128, 1.76530055, 1.78626192, 1.78857275,
       1.79151714, 1.79255482, 1.79258064, 1.79649759, 1.79916134,
       1.80956635, 1.81113174, 1.81314003, 1.83827389, 1.84358419,
       1.8457272 , 1.84638909, 1.85732698, 1.85778711, 1.86825099,
       1.86923117, 1.87154074, 1.87175921, 1.87597884, 1.88039875,
       1.89248504, 1.89658484, 1.89722683, 1.89878371, 1.8997069 ,
       1.90981106, 1.91083619, 1.91113077, 1.91303004, 1.91682993,
       1.91781581, 1.92121767, 1.92163738, 1.92255212, 1.9252614 ,
       1.92690783, 1.92725755, 1.93192915, 1.93661442, 1.93688658,
       1.93784609, 1.94001727, 1.94379959, 1.94502363, 1.94536655,
       1.94625174, 1.94791803, 1.95102101, 1.95214125, 1.95237543,
       1.9541689 , 1.9546118 , 1.96183823, 1.96529614, 1.96572573,
       1.9663554 , 1.973818  , 1.97440072, 1.97525194, 1.97567582,
       1.97611557, 1.97726046, 1.98473472, 1.98516606, 1.98646758,
       1.98878277, 1.99751302, 1.99815186, 1.99995783, 2.00141303,
       2.00843378, 2.00888112, 2.01662263, 2.02338295, 2.03818641,
       2.04321909, 2.04441709, 2.05023761, 2.0558607 , 2.0560026 ,
       2.06609268, 2.07348089, 2.07747354, 2.07764338, 2.08076154,
       2.08853659, 2.09985588, 2.12629425, 2.17609105, 2.17694923,
       2.18717971, 2.21809289, 2.23164884, 2.25981511, 2.3884987 ,
       2.39419796, 2.74664187])

In [206]:
data_dma.vcr.max()

2.746641874507014

In [207]:
data_dma.vcr.min()

1.43086007598443

## Shape File

In [208]:
polygons = gp.read_file('s3://aki-dmp/rnd/data-science/dma_map/shape_files/dma/NatDMA.shp')

In [209]:
polygons.head()

,Key,AFFGEOID,GEOID,NAME,AreaSqKm,AreaSqMi,CentroidX,CentroidY,LengthKm,LengthMi,NumParts,PeanoKey,ObjType,geometry
0,000,0100000US,US,National,9.366258e+06,3.616333e+06,-112.935156,45.699112,66355.811893,41231.589948,290,-61591239704847306,Polygon,"MULTIPOLYGON (((179.48246 51.98283, 179.48656 ..."
1,500,None,None,Portland-Auburn ME,2.915956e+04,1.125857e+04,-70.571171,44.341957,4151.849611,2579.839743,769,-61567322892545262,Polygon,"MULTIPOLYGON (((-70.74656 43.08286, -70.74657 ..."
2,501,None,None,New York NY,3.052699e+04,1.178654e+04,-74.176949,41.116231,4792.535959,2977.943782,614,-61568174549266471,Polygon,"MULTIPOLYGON (((-74.34928 39.51060, -74.34940 ..."
3,502,None,None,Binghamton NY,9.335196e+03,3.604339e+03,-75.491063,42.260486,620.411103,385.505587,1,-61567724642116565,Polygon,"POLYGON ((-74.42828 42.34915, -74.42832 42.349..."
4,503,None,None,Macon GA,2.269162e+04,8.761282e+03,-83.332901,32.572126,895.422777,556.389919,2,-61577340522549115,Polygon,"MULTIPOLYGON (((-84.36292 32.38945, -84.36404 ..."

In [210]:
# remove the national dma aka the first row
polygons = polygons.iloc[1: , :]

In [211]:
polygons.head(2)

,Key,AFFGEOID,GEOID,NAME,AreaSqKm,AreaSqMi,CentroidX,CentroidY,LengthKm,LengthMi,NumParts,PeanoKey,ObjType,geometry
1,500,None,None,Portland-Auburn ME,29159.563396,11258.570369,-70.571171,44.341957,4151.849611,2579.839743,769,-61567322892545262,Polygon,"MULTIPOLYGON (((-70.74656 43.08286, -70.74657 ..."
2,501,None,None,New York NY,30526.990734,11786.537016,-74.176949,41.116231,4792.535959,2977.943782,614,-61568174549266471,Polygon,"MULTIPOLYGON (((-74.34928 39.51060, -74.34940 ..."

In [212]:
polygons.dtypes

Key            object
AFFGEOID       object
GEOID          object
NAME           object
AreaSqKm      float64
AreaSqMi      float64
CentroidX     float64
CentroidY     float64
LengthKm      float64
LengthMi      float64
NumParts        int64
PeanoKey        int64
ObjType        object
geometry     geometry
dtype: object

In [213]:
polygons['Key'] = polygons['Key'].apply(int)

### Merge

In [214]:
# Change name of column STUSPS to location_state_id
polygons = polygons.rename(columns={'Key':'dma'})

In [215]:
data_dma.shape

(124, 2)

In [216]:
polygons.shape

(210, 14)

In [217]:
polygons.columns

Index(['dma', 'AFFGEOID', 'GEOID', 'NAME', 'AreaSqKm', 'AreaSqMi', 'CentroidX',
       'CentroidY', 'LengthKm', 'LengthMi', 'NumParts', 'PeanoKey', 'ObjType',
       'geometry'],
      dtype='object')

In [218]:
df = pd.merge(polygons[['dma','NAME','geometry']],data_dma, on = ['dma'], how = 'left')

In [219]:
# Replace NaN with zeros
df = df.fillna(0)

In [220]:
df.head()

,dma,NAME,geometry,vcr
0,500,Portland-Auburn ME,"MULTIPOLYGON (((-70.74656 43.08286, -70.74657 ...",1.921218
1,501,New York NY,"MULTIPOLYGON (((-74.34928 39.51060, -74.34940 ...",2.259815
2,502,Binghamton NY,"POLYGON ((-74.42828 42.34915, -74.42832 42.349...",0.000000
3,503,Macon GA,"MULTIPOLYGON (((-84.36292 32.38945, -84.36404 ...",1.663627
4,504,Philadelphia PA,"MULTIPOLYGON (((-75.56835 39.50072, -75.56850 ...",2.231649

In [221]:
df.shape

(210, 4)

In [222]:
df.dtypes

dma            int64
NAME          object
geometry    geometry
vcr          float64
dtype: object

In [223]:
df.isnull().sum()

dma         0
NAME        0
geometry    0
vcr         0
dtype: int64

In [224]:
df['vcr_format'] = df['vcr'].map("{:,.3f}%".format)
df['vcr'] = df['vcr'].round(3)

In [225]:
df.head()

,dma,NAME,geometry,vcr,vcr_format
0,500,Portland-Auburn ME,"MULTIPOLYGON (((-70.74656 43.08286, -70.74657 ...",1.921,1.921%
1,501,New York NY,"MULTIPOLYGON (((-74.34928 39.51060, -74.34940 ...",2.260,2.260%
2,502,Binghamton NY,"POLYGON ((-74.42828 42.34915, -74.42832 42.349...",0.000,0.000%
3,503,Macon GA,"MULTIPOLYGON (((-84.36292 32.38945, -84.36404 ...",1.664,1.664%
4,504,Philadelphia PA,"MULTIPOLYGON (((-75.56835 39.50072, -75.56850 ...",2.232,2.232%

In [226]:
df = df.to_crs("EPSG:4326")
df.head()

,dma,NAME,geometry,vcr,vcr_format
0,500,Portland-Auburn ME,"MULTIPOLYGON (((-70.74656 43.08286, -70.74657 ...",1.921,1.921%
1,501,New York NY,"MULTIPOLYGON (((-74.34928 39.51060, -74.34940 ...",2.260,2.260%
2,502,Binghamton NY,"POLYGON ((-74.42828 42.34915, -74.42832 42.349...",0.000,0.000%
3,503,Macon GA,"MULTIPOLYGON (((-84.36292 32.38945, -84.36404 ...",1.664,1.664%
4,504,Philadelphia PA,"MULTIPOLYGON (((-75.56835 39.50072, -75.56850 ...",2.232,2.232%

In [227]:
df.crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World.
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984 ensemble
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [228]:
# the bigger the tolerance, the worst the quality
df['geometry']=df['geometry'].simplify(tolerance = 0.005, preserve_topology = True)

In [229]:
df.dtypes

dma              int64
NAME            object
geometry      geometry
vcr            float64
vcr_format      object
dtype: object

In [230]:
df.to_file("../static/data/dma_map.geojson",driver='GeoJSON')